In [27]:
import pandas as pd

from src.utils import read_data

# AFC = read_data("AFC", drop_cols=False)
AFC = read_data("AFC")
AFC.head()

[INFO] read_data(('AFC',), {}) executing at 03-31 16:23:15.
[INFO] read_data(('AFC',), {}) executed in  03-31 16:23:15. (03-31 16:23:15 -> 0.0704s )

     STATION1_UID    TS1  STATION2_UID    TS2  TRAVEL_TIME
RID
132          1127  15042          1101  23955         8913
283          1027  18465          1038  21045         2580
284          1027  18475          1038  21878         3403
285          1120  18503          1010  27824         9321
286          1120  18506          1010  27824         9318

In [31]:
# 直接保存 groupby
AFC['time_tag'] = AFC['TS1'] // 3600
psg_cnt = AFC.groupby(["STATION1_UID", "STATION2_UID", "time_tag"]).TS2.count()
# psg_cnt.reset_index().rename(columns={"TS2": "psg_count"}).to_csv("OD_hour.csv", index=False)
psg_cnt.reset_index()

        STATION1_UID  STATION2_UID  time_tag  TS2
0               1001          1002         7   34
1               1001          1002         8   70
2               1001          1002         9   14
3               1001          1002        10    7
4               1001          1002        11    5
...              ...           ...       ...  ...
214179          1136          1135        17    5
214180          1136          1135        18    4
214181          1136          1135        19    1
214182          1136          1135        20    3
214183          1136          1135        21    3

[214184 rows x 4 columns]

In [29]:
# 补0行，再保存
o_uid, d_uid = range(1001, 1137), range(1001, 1137)
time_tag = range(5, 24)  # 5点 - 23点
all_index = [
    (o,d,t) for o in o_uid for d in d_uid for t in time_tag if o != d
]
# all_index = pd.MultiIndex.from_tuples(all_index)
df = pd.DataFrame(all_index).rename(columns={0:"o_uid", 1:"d_uid", 2:"time_tag"}).set_index(["o_uid", "d_uid", "time_tag"])
df['psg_count'] = psg_cnt
df['psg_count'].fillna(0, inplace=True)

# df.reset_index().to_csv("OD_hour.csv", index=False)
df.reset_index()

        o_uid  d_uid  time_tag  psg_count
0        1001   1002         5        0.0
1        1001   1002         6        0.0
2        1001   1002         7       34.0
3        1001   1002         8       70.0
4        1001   1002         9       14.0
...       ...    ...       ...        ...
348835   1136   1135        19        1.0
348836   1136   1135        20        3.0
348837   1136   1135        21        3.0
348838   1136   1135        22        0.0
348839   1136   1135        23        0.0

[348840 rows x 4 columns]

In [16]:
type(psg_cnt)

pandas.core.series.Series