## 多个 feas_iti 且最后一趟列车 id 相同的乘客

|           |     rid | iti_id |    path_id | seg_id | train_id | board_ts | alight_ts |
| :-------- | ------: | -----: | ---------: | -----: | -------: | -------: | --------: |
| 93194730  | 1525794 |      2 | 1076103701 |      2 | 10301630 |    65071 |     65670 |
| 8610761   |  119014 |      6 | 1101102701 |      3 | 11002833 |    30045 |     30791 |
| 18578209  |  230428 |      6 | 1053108503 |      2 | 10401849 |    29715 |     30255 |
| 72855273  | 1321497 |      3 | 1110112802 |      1 | 10401844 |    60803 |     61537 |
| 105488240 | 1781873 |      2 | 1028106602 |      2 | 10401738 |    69396 |     69625 |
| 90908613  | 1485498 |      2 | 1023112302 |      2 | 10702370 |    64374 |     64780 |
| 91388272  | 1494286 |      1 | 1104111501 |      2 | 10702247 |    65070 |     65278 |
| 53621559  |  957712 |      6 | 1121102503 |      3 | 10401786 |    49174 |     50141 |
| 19767473  |  243641 |      1 | 1081103901 |      2 | 10702323 |    29509 |     31141 |
| 107978876 | 1880069 |      2 | 1129107002 |      1 | 10201226 |    73278 |     74154 |
| 106615427 | 1817923 |      1 | 1027110801 |      2 | 10301362 |    71471 |     73514 |
| 76737269  | 1359494 |      1 | 1099102101 |      2 | 10301421 |    64071 |     65266 |
| 100422001 | 1661221 |      5 | 1061108702 |      1 | 10100270 |    66558 |     66886 |
| 2408620   |   41409 |      2 | 1111106502 |      1 | 10401886 |    25727 |     25836 |
| 101105912 | 1675451 |      1 | 1110101301 |      1 | 10401914 |    66944 |     67031 |
| 92513072  | 1514419 |      3 | 1097110302 |      3 | 10200839 |    65302 |     65408 |
| 81121188  | 1412555 |      1 | 1061109504 |      2 | 10201199 |    63371 |     63480 |
| 108069499 | 1886032 |      1 | 1032108201 |      1 | 10200950 |    73568 |     75192 |
| 73737366  | 1331466 |      1 | 1086110901 |      2 | 10702414 |    61616 |     62107 |
| 48046191  |  811513 |      3 | 1076103602 |      3 | 10301265 |    42747 |     43084 |

# 多个 feas_iti 且所有 egress time 都超过 500 秒的乘客

## 这些 rid 大多数并不是因为有很多 feas_iti，而是少数的 feas_iti 但 egress time 都非常久(超过500s)。

- 人数虽然少，但是是否需要考虑加入额外判断条件，或者重新算呢？


```python
# df[df["dis_penaled_sum"] == 0].index.get_level_values(0).unique()  # 939 rids does not have even one actually feasible itinerary.

rids_no_prob = np.array([    983,    1171,    1376,    1730,    1750,    2408,    3173, 3190,    3326,    3368,    3520,    3696,    5662,    6193, 13409,   78714,  109114,  114135,  142032,  151271,  152006, 152948,  171518,  188488,  263229,  341170,  444924,  461597, 466642,  497716,  497937,  513497,  515713,  518382,  531630, 533623,  536615,  545734,  554578,  570520,  572792,  575241, 582118,  585940,  595735,  600747,  607498,  610731,  622531, 628065,  635754,  637178,  639015,  640134,  653988,  654257, 654906,  655749,  656910,  665534,  666669,  667648,  669695, 672009,  678702,  678727,  678973,  683550,  688339,  692266, 693098,  693734,  694574,  696115,  697564,  700227,  700251, 702537,  706707,  708138,  709379,  709446,  709469,  709503, 709718,  709990,  710044,  710433,  711066,  711229,  713606, 713822,  714055,  714615,  715264,  721473,  722488,  723693, 727205,  727394,  727526,  727603,  730476,  730664,  730699, 732154,  732277,  733679,  733867,  733972,  737426,  737866, 739558,  740359,  740910,  741115,  741545,  743840,  745024, 745959,  746448,  750489,  750567,  751511,  755274,  757671, 757778,  758022,  758190,  760528,  760529,  762483,  763950, 764342,  764365,  764366,  764505,  764538,  766153,  766461, 767282,  768051,  768412,  769393,  769418,  773988,  774668, 775309,  775344,  775426,  776184,  776376,  776429,  778887, 778991,  779162,  780317,  780683,  780684,  780790,  781115, 782281,  782504,  783118,  783517,  783550,  784769,  785333, 786826,  788783,  791004,  791110,  791297,  791499,  791522, 791968,  792173,  792331,  794180,  795385,  796571,  803742, 803989,  803999,  805529,  806375,  807357,  807634,  810828, 811192,  812630,  813416,  814146,  814839,  815426,  817941, 817973,  819476,  820863,  820939,  821170,  821236,  822471, 824767,  825960,  828010,  830984,  834778,  837965,  838610, 843128,  843369,  844196,  846048,  847068,  848018,  849540, 850737,  850840,  851337,  852233,  853899,  854016,  856442, 858616,  858641,  859334,  860631,  862528,  863742,  864060, 864772,  864809,  866326,  868891,  868941,  870472,  872163, 873292,  874160,  874242,  874298,  874954,  875175,  875273, 877528,  877635,  878154,  878216,  880749,  881054,  881464, 885455,  886271,  886831,  887040,  888861,  889509,  890886, 892722,  897173,  899148,  899500,  899609,  899801,  901251, 901764,  903630,  905947,  906616,  906622,  909565,  910529, 910595,  911650,  911966,  913001,  913843,  914592,  915037, 915051,  916066,  916450,  917474,  920364,  920404,  922309, 923975,  925244,  925833,  925859,  926228,  926532,  927058, 927445,  927943,  930118,  930979,  931445,  931731,  932182, 933117,  933600,  936806,  938871,  939755,  941348,  942323, 942381,  942506,  944315,  944363,  945313,  946393,  947708, 948205,  948267,  948608,  949764,  952301,  954201,  955072, 955370,  955372,  956005,  956153,  958167,  958691,  959970, 959971,  961263,  961463,  964296,  965028,  965088,  967417, 967487,  968317,  971273,  971921,  975384,  976226,  982008, 983149,  984655,  986253,  986607,  986781,  988043,  997063, 1001197, 1001285, 1003339, 1003446, 1004783, 1004838, 1005324, 1005374, 1007284, 1007485, 1014431, 1016511, 1018888, 1018964, 1019416, 1020046, 1020743, 1021476, 1022328, 1022486, 1023761, 1023860, 1023979, 1030413, 1031973, 1033517, 1034492, 1036125, 1037384, 1040733, 1042371, 1043472, 1044085, 1044202, 1044291, 1045229, 1048708, 1049726, 1051170, 1053487, 1057018, 1057219, 1059664, 1061891, 1064548, 1065705, 1066358, 1067866, 1069420, 1069952, 1070069, 1070448, 1074539, 1074596, 1075089, 1075091, 1079635, 1082442, 1082443, 1082468, 1085943, 1090688, 1095858, 1096864, 1097857, 1098180, 1098651, 1100119, 1102165, 1102657, 1107163, 1107785, 1108039, 1108332, 1109364, 1109664, 1109773, 1110420, 1114588, 1114922, 1115342, 1115348, 1118188, 1118280, 1118604, 1118718, 1121972, 1122524, 1124631, 1125280, 1125459, 1127016, 1127169, 1127286, 1127400, 1128714, 1129690, 1130016, 1130579, 1133014, 1134730, 1135438, 1136176, 1137428, 1137613, 1137903, 1139091, 1139141, 1139305, 1144079, 1145028, 1145042, 1145409, 1145419, 1145997, 1150115, 1150495, 1151557, 1152825, 1153655, 1153884, 1153906, 1155251, 1155564, 1156079, 1156242, 1156640, 1156666, 1156755, 1157249, 1157449, 1157470, 1157618, 1157620, 1157738, 1157774, 1158112, 1159197, 1159259, 1160072, 1160073, 1160075, 1160175, 1160282, 1160394, 1160501, 1161143, 1161796, 1161823, 1162518, 1162880, 1163672, 1163729, 1163932, 1165198, 1165542, 1165665, 1165882, 1166172, 1166470, 1167342, 1167606, 1167713, 1167910, 1168150, 1168208, 1168310, 1173677, 1174001, 1175631, 1176498, 1176949, 1177887, 1179012, 1179477, 1179533, 1179621, 1179678, 1179679, 1180029, 1180653, 1180829, 1181155, 1183296, 1183966, 1184256, 1184401, 1184447, 1184448, 1184453, 1184485, 1184489, 1184912, 1185052, 1185457, 1187113, 1187216, 1187849, 1187872, 1190861, 1191348, 1191696, 1191867, 1194461, 1194542, 1194969, 1198122, 1200746, 1201364, 1202277, 1202302, 1203348, 1204064, 1207757, 1208141, 1209542, 1209958, 1211352, 1211605, 1212250, 1212554, 1212670, 1213024, 1214333, 1214714, 1214759, 1215304, 1216089, 1216582, 1216852, 1217958, 1217998, 1218288, 1218561, 1219473, 1219756, 1219973, 1220140, 1221687, 1222681, 1223990, 1225038, 1226358, 1229332, 1230196, 1230453, 1230501, 1231881, 1231886, 1231948, 1232608, 1233054, 1233175, 1233176, 1234219, 1234329, 1235033, 1235663, 1235789, 1237437, 1237554, 1237558, 1237618, 1238290, 1238515, 1239673, 1240375, 1240379, 1240413, 1242830, 1243972, 1246267, 1247336, 1247570, 1247658, 1250095, 1252320, 1254915, 1260456, 1261453, 1261822, 1264966, 1269860, 1275013, 1277077, 1277133, 1277863, 1278772, 1282235, 1282912, 1283556, 1289346, 1290744, 1292698, 1293113, 1294485, 1298868, 1307022, 1315972, 1316176, 1333875, 1337063, 1342161, 1346181, 1365269, 1372539, 1388395, 1394467, 1395326, 1400108, 1402350, 1403223, 1420719, 1420922, 1421636, 1432462, 1470619, 1490095, 1493014, 1500443, 1501142, 1524084, 1524968, 1530056, 1563164, 1563282, 1597515, 1603743, 1604629, 1614501, 1614681, 1616287, 1627029, 1628700, 1641135, 1650424, 1651627, 1653764, 1697491, 1697625, 1705830, 1716626, 1716627, 1717967, 1721374, 1721958, 1722470, 1727185, 1741929, 1746496, 1754788, 1764930, 1768074, 1770384, 1770956, 1778173, 1783386, 1785381, 1789429, 1794616, 1796538, 1797009, 1798571, 1803994, 1806271, 1808904, 1813908, 1815795, 1820131, 1823125, 1824979, 1825081, 1827445, 1828507, 1832774, 1840495, 1843441, 1850352, 1850402, 1850496, 1851571, 1853832, 1853866, 1858590, 1860748, 1861981, 1862981, 1863258, 1863375, 1863565, 1865043, 1865876, 1869305, 1869645, 1870054, 1873715, 1874121, 1875199, 1876336, 1877523, 1880660, 1881330, 1882253, 1882870, 1884488, 1885913, 1886445, 1887226, 1888704, 1889001, 1890360, 1891444, 1895705, 1895768, 1898139, 1899027, 1900315, 1902154, 1902868, 1902929, 1903269, 1907134, 1907158, 1909720, 1911432, 1914675, 1916131, 1916383, 1918556, 1920398, 1920858, 1921681, 1923222, 1923631, 1923897, 1923951, 1924212, 1924387, 1925521, 1925777, 1927235, 1928390, 1929579, 1930042, 1930120, 1930478, 1930520, 1930753, 1932350, 1932484, 1932881, 1932922, 1933149, 1933651, 1933764, 1935135, 1936290, 1936969, 1938419, 1938428, 1942445, 1942948, 1943065, 1943206, 1944138, 1947804, 1948119, 1948547, 1949064, 1949111, 1949609, 1949747, 1951243, 1951282, 1954409, 1955348, 1955586, 1955636, 1955977, 1957367, 1957429, 1957495, 1957727, 1958150, 1958581, 1960169, 1960784, 1961741, 1962316, 1962332, 1963384, 1963635, 1964996, 1965016, 1968970, 1969000, 1969399, 1970514, 1970544, 1970629, 1971445, 1972297, 1975064, 1975221, 1976052, 1976394, 1979076, 1979078, 1979289, 1979379, 1982060, 1982061, 1983936, 1985250, 1985876, 1986766, 1988936, 1990452, 1991267, 1991274, 1992537, 1992648, 1993278, 1993697, 1994224, 1996181, 1996691, 1997959, 1998291, 1998371, 1999302, 1999846, 2000179, 2000900, 2001267, 2001414, 2002134, 2002350, 2003072, 2003483, 2004339, 2006220, 2007268, 2010078, 2012005, 2012043, 2013005, 2014150, 2014187, 2014231, 2014282, 2014601, 2018049, 2018118, 2018121, 2020239, 2020425, 2020453, 2020474, 2020531, 2020688, 2020690, 2020808, 2022248, 2026008, 2032115, 2032116, 2033915, 2034471, 2034482, 2034497, 2034504, 2034577, 2034751, 2036026, 2037322, 2038318, 2038421, 2039455, 2041306, 2041577, 2042050, 2042344, 2042481, 2042625, 2042634, 2043962, 2043963, 2045101])

# check feasible itineraries of those rids
import numpy as np
from src import config
from src.passenger import _plot_check_feas_iti

config.load_config()

rid = np.random.choice(rids_no_prob, 1)[0]
_plot_check_feas_iti(rid=rid, print_on=True)
```

In [1]:
from src import config
from src.utils import *
from src.globals import get_etd, get_ttd
from src.itinerary import cal_dis_all, cal_penal_all
from src.walk_time_dis_calculator import WalkTimeDisModel

config.load_config()

wtd = WalkTimeDisModel(get_etd(), get_ttd())
left = read_(config.CONFIG["results"]["left"], show_timer=False)

dis = cal_dis_all(wtd=wtd, left=left)
dis

[INFO] Reading file: results\egress\etd_1.csv
[INFO] Reading file: results\transfer\ttd_1.csv
[INFO] Reading file: results\network\pathvia.pkl
[INFO] Reading file: results\network\platform.csv
[INFO] Reading file: results\trajectory\left.pkl
[INFO] Calculating entry walk distribution for all itineraries...
[INFO] Reading file: data\AFC.pkl
[INFO] Calculating egress walk distribution for all itineraries...
[INFO] Calculating transfer walk distribution for all itineraries...

,rid,iti_id,path_id,seg_id,t1,t2,pp_id1,pp_id2,time,dis
0,285,14,1120101002,1,21238,23410,103801,103802,2172,1.000000
1,285,14,1120101002,2,24412,27272,102201,102202,2860,1.000000
2,285,15,1120101002,1,21238,23410,103801,103802,2172,1.000000
3,285,15,1120101002,2,24412,24520,102201,102202,108,0.178590
4,285,16,1120101002,1,21238,23410,103801,103802,2172,1.000000
...,...,...,...,...,...,...,...,...,...,...
62976911,2046865,2,1097101501,-1,85823,85947,0,101501,124,0.298703
62976912,2046868,1,1097101501,-1,85481,85940,0,101501,459,0.000000
62976913,2046868,2,1097101501,-1,85823,85940,0,101501,117,0.358818
62976914,2046883,1,1129101001,-1,85741,85887,0,101002,146,0.857925
62976915,2046883,2,1129101001,-1,85245,85887,0,101002,642,0.000000

In [2]:
penal = cal_penal_all(train_seg_penal={}, left=left)
penal

,train_id,board_ts,alight_ts,rid,iti_id,path_id,seg_id,penalty
0,10702170,21132,22747,285,1,1120101001,1,1.0
1,10702170,25273,26962,285,2,1120101001,1,1.0
2,10702186,21797,23422,285,3,1120101001,1,1.0
3,10702186,25949,27655,285,4,1120101001,1,1.0
4,10702207,22652,24277,285,5,1120101001,1,1.0
...,...,...,...,...,...,...,...,...
46637879,10100645,85287,85823,2046865,2,1097101501,1,1.0
46637880,10100421,84945,85481,2046868,1,1097101501,1,1.0
46637881,10100645,85287,85823,2046868,2,1097101501,1,1.0
46637882,10702289,85531,85741,2046883,1,1129101001,1,1.0
46637883,10702573,85035,85245,2046883,2,1129101001,1,1.0

In [3]:
from src.itinerary import cal_prob_all
df = cal_prob_all(dis=dis, penal=penal)
df

                     dis  penalty  dis_penaled  dis_penaled_sum      prob
rid     iti_id
285     1       0.000000      1.0     0.000000         8.820042  0.000000
        2       0.000000      1.0     0.000000         8.820042  0.000000
        3       0.000000      1.0     0.000000         8.820042  0.000000
        4       0.997090      1.0     0.997090         8.820042  0.113048
        5       0.000000      1.0     0.000000         8.820042  0.000000
...                  ...      ...          ...              ...       ...
2046865 2       0.298703      1.0     0.298703         0.298703  1.000000
2046868 1       0.000000      1.0     0.000000         0.358818  0.000000
        2       0.358818      1.0     0.358818         0.358818  1.000000
2046883 1       0.857925      1.0     0.857925         0.857925  1.000000
        2       0.000000      1.0     0.000000         0.857925  0.000000

[16339032 rows x 5 columns]

In [4]:
df[df['prob'] == 1].shape, df[df['prob'] > 0.99].shape, df[(df['prob'] == 0)].shape, df.shape

((186331, 5), (364689, 5), (3401937, 5), (16339032, 5))

# plot timetable

In [52]:
tt = read_("TT")
tt[(tt["LINE_NID"] == 2) & (tt["DEPARTURE_TS"] < 5.5*3600+600) & ((tt["DEPARTURE_TS"] > 5.5*3600))]

[INFO] read_(('TT',), {}) executing at 05-03 21:29:44.
[INFO] Reading file: data\TT.pkl
[INFO] read_(('TT',), {}) executed in  05-03 21:29:44. (05-03 21:29:44 -> 0.1031s )

,STATION_NID,STOP_TIME,ARRIVE_TS,DEPARTURE_TS,UPDOWN,LINE_NID,STATION_UID,DWELL_TIME
TRAIN_ID,,,,,,,,
10200746,10246,50,20012,20062,1,2,1106,50
10200746,10247,35,20253,20288,1,2,1083,35
10200756,10221,50,20169,20219,1,2,1101,50
10200756,10222,35,20335,20370,1,2,1030,35

In [53]:
tt.loc[10200746]

,STATION_NID,STOP_TIME,ARRIVE_TS,DEPARTURE_TS,UPDOWN,LINE_NID,STATION_UID,DWELL_TIME
TRAIN_ID,,,,,,,,
10200746,10246,50,20012,20062,1,2,1106,50
10200746,10247,35,20253,20288,1,2,1083,35
10200746,10248,35,20379,20414,1,2,1035,35
10200746,10249,35,20509,20544,1,2,1084,35
10200746,10250,35,20667,20702,1,2,1107,35
10200746,10251,35,20829,20864,1,2,1130,35
10200746,10252,53,20977,85410,1,2,1085,64433

In [61]:
from src.timetable import calculate_train_load_profile


assigned = read_all("assigned")
board_records = assigned[assigned["train_id"]
                         == 10200746][["board_ts", "alight_ts"]].values
load_data = calculate_train_load_profile(
    train_id=10200746, board_records=board_records)
load_data

[INFO] read_all(('assigned',), {}) executing at 05-03 21:30:15.
[INFO] Reading 1 versioned files: results\trajectory\assigned.pkl
[INFO] read_all(('assigned',), {}) executed in  05-03 21:30:15. (05-03 21:30:15 -> 0.0075s )

array([[10246, 20062, 10247, 20253,     0],
       [10247, 20288, 10248, 20379,     0],
       [10248, 20414, 10249, 20509,     0],
       [10249, 20544, 10250, 20667,     0],
       [10250, 20702, 10251, 20829,     0],
       [10251, 20864, 10252, 85357,     0]], dtype=int64)