In [12]:
import pandas as pd

from src.utils import read_data
from src.metro_net import gen_walk_links_from_nodes

# wl = gen_walk_links_from_nodes()
links = read_data("link_info")
links

[INFO] read_data(('link_info',), {}) executing at 03-24 17:45:46.
[INFO] read_data(('link_info',), {}) executed in  03-24 17:45:46. (03-24 17:45:46 -> 0.0000s )

      link_weight  node_id1  node_id2      link_type
0           148.0    101200    101210     in_vehicle
1           144.5    101211    101201     in_vehicle
2           161.5    101210    101220     in_vehicle
3           162.5    101221    101211     in_vehicle
4           125.5    101220    101230     in_vehicle
...           ...       ...       ...            ...
1189          3.0    107261    107260  platform_swap
1190          3.0    107470    107471  platform_swap
1191          3.0    107471    107470  platform_swap
1192          3.0    110240    110241  platform_swap
1193          3.0    110241    110240  platform_swap

[1194 rows x 4 columns]