## 多个 feas_iti 且最后一趟列车 id 相同的乘客

|           |     rid | iti_id |    path_id | seg_id | train_id | board_ts | alight_ts |
| :-------- | ------: | -----: | ---------: | -----: | -------: | -------: | --------: |
| 93194730  | 1525794 |      2 | 1076103701 |      2 | 10301630 |    65071 |     65670 |
| 8610761   |  119014 |      6 | 1101102701 |      3 | 11002833 |    30045 |     30791 |
| 18578209  |  230428 |      6 | 1053108503 |      2 | 10401849 |    29715 |     30255 |
| 72855273  | 1321497 |      3 | 1110112802 |      1 | 10401844 |    60803 |     61537 |
| 105488240 | 1781873 |      2 | 1028106602 |      2 | 10401738 |    69396 |     69625 |
| 90908613  | 1485498 |      2 | 1023112302 |      2 | 10702370 |    64374 |     64780 |
| 91388272  | 1494286 |      1 | 1104111501 |      2 | 10702247 |    65070 |     65278 |
| 53621559  |  957712 |      6 | 1121102503 |      3 | 10401786 |    49174 |     50141 |
| 19767473  |  243641 |      1 | 1081103901 |      2 | 10702323 |    29509 |     31141 |
| 107978876 | 1880069 |      2 | 1129107002 |      1 | 10201226 |    73278 |     74154 |
| 106615427 | 1817923 |      1 | 1027110801 |      2 | 10301362 |    71471 |     73514 |
| 76737269  | 1359494 |      1 | 1099102101 |      2 | 10301421 |    64071 |     65266 |
| 100422001 | 1661221 |      5 | 1061108702 |      1 | 10100270 |    66558 |     66886 |
| 2408620   |   41409 |      2 | 1111106502 |      1 | 10401886 |    25727 |     25836 |
| 101105912 | 1675451 |      1 | 1110101301 |      1 | 10401914 |    66944 |     67031 |
| 92513072  | 1514419 |      3 | 1097110302 |      3 | 10200839 |    65302 |     65408 |
| 81121188  | 1412555 |      1 | 1061109504 |      2 | 10201199 |    63371 |     63480 |
| 108069499 | 1886032 |      1 | 1032108201 |      1 | 10200950 |    73568 |     75192 |
| 73737366  | 1331466 |      1 | 1086110901 |      2 | 10702414 |    61616 |     62107 |
| 48046191  |  811513 |      3 | 1076103602 |      3 | 10301265 |    42747 |     43084 |

In [1]:
from src import config
from src.utils import *
from src.globals import *
from src.itinerary import *

config.load_config()

wtd = WalkTimeDisModel(etd=get_etd(), ttd=get_ttd())

left = read_(config.CONFIG["results"]["left"], show_timer=False)
print(left.shape)
print(left.drop_duplicates("rid").shape)
print(left.drop_duplicates(["rid", "iti_id"]).shape)
left

[INFO] Reading file: results\egress\etd_1.csv
[INFO] Reading file: results\transfer\ttd_1.csv
[INFO] Reading file: results\network\pathvia.pkl
[INFO] Reading file: results\network\platform.csv
[INFO] Reading file: results\trajectory\left.pkl
(46637884, 7)
(1195446, 7)
(16339032, 7)

               rid  iti_id     path_id  seg_id  train_id  board_ts  alight_ts
2              285       1  1120101001       1  10702170     21132      22747
3              285       2  1120101001       1  10702170     25273      26962
4              285       3  1120101001       1  10702186     21797      23422
5              285       4  1120101001       1  10702186     25949      27655
6              285       5  1120101001       1  10702207     22652      24277
...            ...     ...         ...     ...       ...       ...        ...
109949952  2046865       2  1097101501       1  10100645     85287      85823
109949955  2046868       1  1097101501       1  10100421     84945      85481
109949956  2046868       2  1097101501       1  10100645     85287      85823
109949965  2046883       1  1129101001       1  10702289     85531      85741
109949966  2046883       2  1129101001       1  10702573     85035      85245

[46637884 rows x 7 columns]

In [2]:
dis_entry = cal_entry_dis_all(wtd=wtd, left=left)
dis_egress = cal_egress_dis_all(wtd=wtd, left=left)
dis_transfer = cal_transfer_dis_all(wtd=wtd, left=left)

[INFO] Reading file: data\AFC.pkl
100101 (39361, 8)
100201 (174638, 8)
100301 (5289, 8)
100401 (508, 8)
100501 (74980, 8)
100601 (86204, 8)
100701 (105392, 8)
100801 (103220, 8)
100901 (191178, 8)
101001 (64127, 8)
101002 (30221, 8)
101101 (45502, 8)
101201 (46783, 8)
101301 (171211, 8)
101401 (56798, 8)
101501 (153455, 8)
101601 (138071, 8)
101602 (84840, 8)
101701 (279228, 8)
101801 (449426, 8)
101901 (55697, 8)
102001 (66237, 8)
102101 (186249, 8)
102201 (97371, 8)
102202 (75316, 8)
102301 (156520, 8)
102401 (73851, 8)
102402 (49062, 8)
102501 (38852, 8)
102601 (84553, 8)
102701 (90993, 8)
102801 (160681, 8)
102802 (106689, 8)
102901 (243389, 8)
103001 (132931, 8)
103101 (86810, 8)
103201 (218378, 8)
103202 (60913, 8)
103301 (270787, 8)
103302 (80361, 8)
103303 (124763, 8)
103401 (86441, 8)
103501 (53640, 8)
103601 (99701, 8)
103701 (131254, 8)
103801 (50269, 8)
103802 (33130, 8)
103803 (791, 8)
103901 (74754, 8)
104001 (256587, 8)
104101 (200666, 8)
104201 (263911, 8)
104301 (426, 8)
104302 (128632, 8)
104401 (748, 8)
104501 (3489, 8)
104601 (1693, 8)
104701 (8926, 8)
104801 (60722, 8)
104901 (120718, 8)
105001 (52349, 8)
105101 (138657, 8)
105201 (26322, 8)
105202 (22033, 8)
105301 (63765, 8)
105401 (160555, 8)
105501 (79386, 8)
105601 (56048, 8)
105701 (61480, 8)
105801 (88786, 8)
105901 (72134, 8)
106001 (47341, 8)
106101 (204715, 8)
106102 (74707, 8)
106201 (181993, 8)
106301 (139653, 8)
106302 (29362, 8)
106401 (265486, 8)
106501 (14703, 8)
106601 (124225, 8)
106701 (135662, 8)
106801 (165243, 8)
106901 (25359, 8)
107001 (334208, 8)
107101 (164601, 8)
107201 (25102, 8)
107301 (13613, 8)
107401 (71555, 8)
107501 (87636, 8)
107601 (156258, 8)
107701 (171326, 8)
107801 (9341, 8)
107901 (167242, 8)
108001 (55957, 8)
108101 (172270, 8)
108201 (119686, 8)
108301 (26586, 8)
108401 (19844, 8)
108501 (133887, 8)
108601 (153177, 8)
108701 (93890, 8)
108801 (85604, 8)
108901 (189753, 8)
109001 (115227, 8)
109101 (53260, 8)
109201 (38154, 8)
109301 (26872, 8)
109401 (29405, 8)
109501 (40807, 8)
109601 (66770, 8)
109701 (145643, 8)
109702 (67748, 8)
109801 (167676, 8)
109901 (28990, 8)
110001 (51055, 8)
110101 (833705, 8)
110201 (188159, 8)
110301 (108562, 8)
110401 (165434, 8)
110501 (28758, 8)
110601 (126918, 8)
110701 (64417, 8)
110801 (202140, 8)
110901 (152633, 8)
111001 (248631, 8)
111101 (144967, 8)
111201 (130235, 8)
111301 (24009, 8)
111401 (42516, 8)
111501 (60469, 8)
111601 (91651, 8)
111701 (87908, 8)
111801 (44210, 8)
111901 (45816, 8)
112001 (132878, 8)
112101 (87187, 8)
112201 (64932, 8)
112301 (58467, 8)
112401 (1762, 8)
112501 (44016, 8)
112601 (157141, 8)
112701 (67129, 8)
112702 (67410, 8)
112801 (130354, 8)
112901 (244896, 8)
112902 (261831, 8)
113001 (64818, 8)
113101 (72150, 8)
113201 (25803, 8)
113301 (106619, 8)
113401 (165854, 8)
113501 (68091, 8)
113601 (76116, 8)
100101 (22532, 8)
100201 (202812, 8)
100301 (6252, 8)
100401 (838, 8)
100501 (54503, 8)
100601 (106065, 8)
100701 (158595, 8)
100801 (109184, 8)
100901 (133069, 8)
101001 (44426, 8)
101002 (24287, 8)
101101 (32721, 8)
101201 (32393, 8)
101301 (141598, 8)
101401 (41658, 8)
101501 (142684, 8)
101601 (112173, 8)
101602 (71714, 8)
101701 (266297, 8)
101801 (645442, 8)
101901 (76974, 8)
102001 (100814, 8)
102101 (227438, 8)
102201 (79714, 8)
102202 (58007, 8)
102301 (210164, 8)
102401 (50261, 8)
102402 (29971, 8)
102501 (45419, 8)
102601 (74775, 8)
102701 (233411, 8)
102801 (123855, 8)
102802 (92447, 8)
102901 (387880, 8)
103001 (94143, 8)
103101 (62635, 8)
103201 (35247, 8)
103202 (191584, 8)
103301 (253600, 8)
103302 (108610, 8)
103303 (79178, 8)
103401 (73910, 8)
103501 (36780, 8)
103601 (115234, 8)
103701 (143747, 8)
103801 (41921, 8)
103802 (437, 8)
103804 (33275, 8)
103901 (68383, 8)
104001 (409744, 8)
104101 (401953, 8)
104201 (484108, 8)
104301 (117806, 8)
104302 (481, 8)
104401 (2431, 8)
104501 (7251, 8)
104601 (1942, 8)
104701 (24141, 8)
104801 (39626, 8)
104901 (85141, 8)
105001 (35864, 8)
105101 (178224, 8)
105201 (23451, 8)
105202 (22327, 8)
105301 (70635, 8)
105401 (201613, 8)
105501 (67389, 8)
105601 (41591, 8)
105701 (42279, 8)
105801 (86353, 8)
105901 (61777, 8)
106001 (93116, 8)
106101 (192456, 8)
106102 (77689, 8)
106201 (165376, 8)
106301 (126448, 8)
106302 (29155, 8)
106401 (257152, 8)
106501 (20935, 8)
106601 (107373, 8)
106701 (117836, 8)
106801 (114596, 8)
106901 (20731, 8)
107001 (269335, 8)
107101 (151616, 8)
107201 (22678, 8)
107301 (12063, 8)
107401 (139175, 8)
107501 (95852, 8)
107601 (400424, 8)
107701 (301960, 8)
107801 (22968, 8)
107901 (131367, 8)
108001 (43093, 8)
108101 (85098, 8)
108201 (88496, 8)
108301 (19461, 8)
108401 (13964, 8)
108501 (120546, 8)
108601 (198921, 8)
108701 (92077, 8)
108801 (75533, 8)
108901 (146800, 8)
109001 (105459, 8)
109101 (43045, 8)
109201 (30024, 8)
109301 (21246, 8)
109401 (23701, 8)
109501 (86694, 8)
109601 (63427, 8)
109701 (156980, 8)
109702 (64917, 8)
109801 (137288, 8)
109901 (34947, 8)
110001 (74765, 8)
110101 (806157, 8)
110201 (108832, 8)
110301 (69885, 8)
110401 (153567, 8)
110501 (21656, 8)
110601 (68006, 8)
110701 (51283, 8)
110801 (271283, 8)
110901 (106515, 8)
111001 (156007, 8)
111101 (106692, 8)
111201 (99820, 8)
111301 (17047, 8)
111401 (35413, 8)
111501 (50419, 8)
111601 (91137, 8)
111701 (78009, 8)
111801 (55751, 8)
111901 (45374, 8)
112001 (107794, 8)
112101 (65686, 8)
112201 (69173, 8)
112301 (36349, 8)
112401 (4074, 8)
112501 (33654, 8)
112601 (109665, 8)
112701 (47575, 8)
112702 (39219, 8)
112801 (100252, 8)
112901 (193166, 8)
112902 (135541, 8)
113001 (48731, 8)
113101 (66150, 8)
113201 (19630, 8)
113301 (92091, 8)
113401 (116646, 8)
113501 (49154, 8)
113601 (129662, 8)
101001 101002 (806749, 10)
101601 101602 (3305314, 10)
102201 102202 (2077578, 10)
102401 102402 (2356933, 10)
102801 102802 (3698164, 10)
103201 103201 (1171607, 10)
103201 103202 (362995, 10)
103202 103202 (984515, 10)
103301 103302 (1281002, 10)
103301 103303 (1107323, 10)
103801 103802 (740332, 10)
103801 103803 (357249, 10)
103801 103804 (357258, 10)
103802 103802 (148790, 10)
103803 103804 (323337, 10)
104301 104302 (4093, 10)
105201 105202 (1098445, 10)
106101 106102 (1169616, 10)
106301 106302 (3135147, 10)
109701 109702 (2947971, 10)
109801 109801 (3065, 10)
112701 112702 (1826758, 10)
112901 112902 (1034611, 10)

In [3]:
dis_entry

,rid,iti_id,path_id,board_ts,entry_pp_id,ts1,entry_time,dis
2,285,1,1120101001,21132,112001,18503,2629,1.000000
3,285,2,1120101001,25273,112001,18503,6770,1.000000
4,285,3,1120101001,21797,112001,18503,3294,1.000000
5,285,4,1120101001,25949,112001,18503,7446,1.000000
6,285,5,1120101001,22652,112001,18503,4149,1.000000
...,...,...,...,...,...,...,...,...
109949952,2046865,2,1097101501,85287,109701,84937,350,1.000000
109949955,2046868,1,1097101501,84945,109701,84941,4,0.002678
109949956,2046868,2,1097101501,85287,109701,84941,346,1.000000
109949965,2046883,1,1129101001,85531,112902,84980,551,1.000000
109949966,2046883,2,1129101001,85035,112902,84980,55,0.001506

In [5]:
dis_egress

,rid,iti_id,path_id,alight_ts,egress_pp_id,ts2,egress_time,dis
2,285,1,1120101001,22747,101002,27824,5077,0.000000
3,285,2,1120101001,26962,101002,27824,862,0.000000
4,285,3,1120101001,23422,101002,27824,4402,0.000000
5,285,4,1120101001,27655,101002,27824,169,0.997090
6,285,5,1120101001,24277,101002,27824,3547,0.000000
...,...,...,...,...,...,...,...,...
109949952,2046865,2,1097101501,85823,101501,85947,124,0.298703
109949955,2046868,1,1097101501,85481,101501,85940,459,0.000000
109949956,2046868,2,1097101501,85823,101501,85940,117,0.358818
109949965,2046883,1,1129101001,85741,101002,85887,146,0.857925
109949966,2046883,2,1129101001,85245,101002,85887,642,0.000000

In [10]:
dis_transfer[(dis_transfer["transfer_type"] == "platform_swap") & (dis_transfer["transfer_time"] > 1000)]

,rid,iti_id,path_id,seg_id,alight_ts,transfer_time,transfer_type,pp_id_min,pp_id_max,dis
660,285,387,1120101004,2,25288,1446,platform_swap,103201,103201,1.0
670,285,392,1120101004,2,25288,1227,platform_swap,103201,103201,1.0
672,285,393,1120101004,2,25618,1116,platform_swap,103201,103201,1.0
682,285,398,1120101004,2,22405,4329,platform_swap,103201,103201,1.0
684,285,399,1120101004,2,22405,1131,platform_swap,103201,103201,1.0
...,...,...,...,...,...,...,...,...,...,...
30292433,2040847,4,1028108801,1,82242,1319,platform_swap,103202,103202,1.0
30292435,2040847,6,1028108801,1,82617,1519,platform_swap,103202,103202,1.0
30292440,2040847,11,1028108801,1,82992,1144,platform_swap,103202,103202,1.0
30293739,2041406,1,1103103601,1,82128,1264,platform_swap,103201,103201,1.0
30293885,2041457,7,1033106602,2,82998,1261,platform_swap,103202,103202,1.0